<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrivateChatbot</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
    <div id="first-box">
        <div id="second-box">
            <div id="chat-box">
                <!-- Chat messages will be displayed here -->
            </div>
            <div id="third-box">
                <div id="fourth-box">
                    <textarea id="user-input" placeholder="请输入消息..."></textarea>
                    <button onclick="sendMessage()">Send</button>
                    <div id="model-selector">
                        <label for="model-select">model</label>
                        <select id="model-select">
                            <option value="cloud_model1">百度云模型</option>
                            <option value="cloud_model2">腾讯云模型</option>
                            <option value="cloud_model3" selected>gpt-3.5-turbo</option>
                            <option value="chatgpt">ChatGPT</option>
                            <option value="other-model">Other Model</option>
                            <!-- Add more models here -->
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/dynamic.js"></script>
</body>
</html>