<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGPT</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <!-- 左边聊天记录管理 -->
        <div class="chat-history">
            <div class="chat-controls">
                <!-- <div class="new-chat-btn">+ NEW CHAT</div> -->
                <img src="../images/logo.png" alt=""  width="180px" height="60px">
            </div>
            <div class="separator"></div>
            <!-- <ul id="chat-list"></ul> -->
            <div class="function-module"></div>
            <div class="separator"></div>
            <!-- 功能配置区 -->
            <div class="settings">
                <!-- 切换青少年模式 -->
                <div class="mode">
                    <span class="mode-label">青少年模式：</span>
                    <label class="switch">
                        <input type="checkbox" id="toggleButton">
                        <span class="slider"></span>
                    </label>
                </div>
               
            </div>
        </div>

        <!-- 右边聊天框 -->
        <div class="chat-panel">
            <div class="control-panel">
                <button class="collapse-chat-btn"><img src="../images/fold.svg" alt="" height="15px" width="20px"></button>
                <!-- <span class="current-dialog"><strong>当前对话：</strong></span> -->
                <div class="extras">
                    <button class="clear extras-one" onclick="clearChat()"><img src="../images/clear.svg" alt="" width="25px" height="25px"></button>
                    <button class="clear extras-one" onclick="handleExport()"><img src="../images/export.png" alt="" width="25px" height="25px"></button>
                
                </div>
            </div>
            <!-- 聊天内容添加到这里 -->
            <div id="chat-display">

            </div>
            <!-- 下方输入区 -->
            <div class="user-input-outside">
                <div class="user-input-area">
                    <textarea id="user-input" placeholder="Type your message..."></textarea>
                    <button id="send-button">Send</button>
                    <!-- 模型选择器 -->
                    <select id="model-select">
                        <option value="cloud_model1">百度云模型</option>
                        <option value="cloud_model2">腾讯云模型</option>
                        <option value="cloud_model3" selected>gpt-3.5-turbo</option>
                        <!-- 添加对话模型 -->
                    </select>
                    <!-- 敏感等级 -->
                    <select id="sensitivity-level">
                        <option value="inferior">低</option>
                        <option value="medium" selected>中</option>
                        <option value="higher">高</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/index.js"></script>
</body>
</html>