

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>可选择对话模型聊天框</title>
    <link rel="stylesheet" href="../static/style2.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
</head>
<body>
    <div id="chat-container">
        <div id="chat-log"></div>
        <div id="model-selector">
            <label for="model">选择对话模型：</label>
            <select id="model">
                <option value="cloud_model1">百度云模型</option>
                <option value="cloud_model2">腾讯云模型</option>
                <option value="cloud_model3">gpt-3.5-turbo</option>
                <option value="cloud_model3">privategpt</option>
                <option value="cloud_model3">chatglm</option>
                <!-- 添加其他模型选项 -->
            </select>
        </div>
        <input type="text" id="user-input" placeholder="请输入消息...">
        <button id="send-button">发送</button>
    </div>

    <script>
        // const apiKey = ''; // 替换为你的 API 密钥
        const chatLog = document.getElementById('chat-log');
        const userInput = document.getElementById('user-input');
        const sendButton = document.getElementById('send-button');
        const modelSelector = document.getElementById('model');

        // 添加用户消息到聊天记录
        function addUserMessage(message) {
            chatLog.innerHTML += `<div class="user-message">${message}</div>`;
        }

        // 添加机器人消息到聊天记录
        function addBotMessage(message) {
            chatLog.innerHTML += `<div class="bot-message">${message}</div>`;
        }

        // 发送用户消息并获取机器人回复
        async function sendMessage() {
            const userMessage = userInput.value;
            const selectedModel = modelSelector.value;
            addUserMessage("<strong>User：</strong>" + userMessage);
            userInput.value = '';

            // 发送用户消息到服务器
            fetch("/get_response", {
                method: "POST",
                body: new URLSearchParams({
                    "user_input": userMessage,
                    "cloud_model": selectedModel
                }),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
            .then(response => response.text())
            .then(data => {
                addBotMessage("<strong>ChatBot：</strong>" + data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }


        sendButton.addEventListener('click', sendMessage);
        // Enter监听
        userInput.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });
    </script>
</body>
</html>

